{% extends 'mainlayout.html' %}
{#{% load render_partial %}#}

{% load static %}

{% block title %}Page not found{% endblock title %}

{% block content %}

    <div class="page-wrapper body_wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!--Page Title-->
        <section class="page-title" style='background-image:url({% static 'images/background/bg-page-title-1.jpg' %});'>
            <div class="auto-container">
                <h1>صفحه 404</h1>
                <div class="bread-crumb-outer">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Page 404</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="error-section">
            <div class="auto-container">
                <h3><span class="theme_color">404</span><br> We are sorry! Your desired page was not found!</h3>
            </div>
        </section>

    </div>

{% endblock content %}

