{% extends 'mainlayout.html' %}
{#{% load render_partial %}#}

{% load static %}

{% block title %}درباره ما{% endblock title %}

{% block content %}

    <div class="page-wrapper body_wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!--Page Title-->
        <section class="page-title" style="background-image:url({% static 'images/background/bg-page-title-1.jpg' %});">
            <div class="auto-container">
                <h1>درباره ما</h1>
                <div class="bread-crumb-outer">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">خانه</a></li>
                        <li class="active">درباره ما</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="about-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Content Column-->
                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                        <div class="icon-box"><span class="icon flaticon-helmet"></span></div>
                        <div class="inner-box">
                            <!--Sec Title-->
                            <div class="sec-title">
                                <div class="title">معرفی ما</div>
                                <h2>خوش آمدید به <span>سورن شیمی</span></h2>
                            </div>
                            <div class="text">
                                <p class="dark-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                    سطرآنچنان </p>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                    برای شرایط فعلی</p>
                            </div>
                        </div>
                    </div>

                    <!--Services Column-->
                    <div class="services-column col-md-6 col-sm-12 col-xs-12">
                        <!--Services Block Four-->
                        <div class="services-block-four">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-target"></span>
                                </div>
                                <h3><a href="product-detail.html">صداقت در اعتبار</a></h3>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                    از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
                                </div>
                            </div>
                        </div>

                        <!--Services Block Four-->
                        <div class="services-block-four">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-speedometer"></span>
                                </div>
                                <h3><a href="product-detail.html">ضمانت کیفیت</a></h3>
                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                    از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>

        <section class="call-to-action" style="background-image:url({% static 'images/background/bg-page-title-1.jpg' %});">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="column col-md-8 col-sm-12 col-xs-12">
                        <div class="text">ما بهترین شرکت وارد کننده مواد اولیه هستیم!!</div>
                    </div>
                    <div class="column text-left col-md-4 col-sm-12 col-xs-12">
                        <a href="#" class="theme-btn btn-style-two">ارتباط با ما</a>
                    </div>
                </div>
            </div>
        </section>

        <!--Team Section / Default-->
        <section class="team-section default">
            <div class="auto-container">
                <div class="row clearfix equal-height">

                    <!--Member Style Two-->
                    <div class="member-style-two col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="images/team/1.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <ul class="social-links">
                                        <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-telegram"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="lower-box">
                                <h4><a href="team-single.html">بیل گیتس</a></h4>
                                <div class="designation">بنیان گذار</div>
                            </div>
                        </div>
                    </div>

                    <!--Team Member-->
                    <div class="member-style-two col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="images/team/2.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <ul class="social-links">
                                        <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-telegram"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="lower-box">
                                <h4><a href="team-single.html">تام کروز</a></h4>
                                <div class="designation">مهندس</div>
                            </div>
                        </div>
                    </div>

                    <!--Team Member-->
                    <div class="member-style-two col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="images/team/3.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <ul class="social-links">
                                        <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-telegram"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="lower-box">
                                <h4><a href="team-single.html">استیو جابز</a></h4>
                                <div class="designation">بنیان گذار</div>
                            </div>
                        </div>
                    </div>

                    <!--Member Style Two-->
                    <div class="member-style-two col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="images/team/4.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <ul class="social-links">
                                        <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-telegram"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="lower-box">
                                <h4><a href="team-single.html">تونی استارک</a></h4>
                                <div class="designation">مهندس</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

    </div>

{% endblock content %}