{% extends 'mainlayout.html' %}
{#{% load render_partial %}#}

{% load static %}

{% block title %}درباره ما{% endblock title %}

{% block content %}

    <div class="page-wrapper body_wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!--Page Title-->
        <section class="page-title" style="background-image:url({% static 'images/background/1414.jpg' %});">
            <div class="auto-container">
                <h1>درباره ما</h1>
                <div class="bread-crumb-outer">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'index_view' %}">خانه</a></li>
                        <li class="active">درباره ما</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="about-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Content Column-->
                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                        <div class="icon-box"><span class="icon flaticon-helmet"></span></div>
                        <div class="inner-box">
                            <!--Sec Title-->
                            <div class="sec-title">
                                <div class="title">معرفی ما</div>
                                <h2>خوش آمدید به <span>سورن شیمی</span></h2>
                            </div>
                            <div class="text">
                                <p class="dark-text" style="text-align: justify">{{ aboutus.introduction_text | safe }}</p>
                            </div>
                        </div>
                    </div>

                    <!--Services Column-->
                    <div class="services-column col-md-6 col-sm-12 col-xs-12">
                        <!--Services Block Four-->
                        <div class="services-block-four">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-target"></span>
                                </div>
                                <h3><a>{{ aboutus.first_feature }}</a></h3>
                                <div class="text" style="text-align: justify">{{ aboutus.first_feature_text | safe }}
                                </div>
                            </div>
                        </div>

                        <!--Services Block Four-->
                        <div class="services-block-four">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-speedometer"></span>
                                </div>
                                <h3><a>{{ aboutus.second_feature }}</a></h3>
                                <div class="text" style="text-align: justify">{{ aboutus.second_feature_text | safe }}
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>

        <section class="call-to-action" style="background-image:url({% static 'images/background/1414.jpg' %});">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="column col-md-8 col-sm-12 col-xs-12">
                        <div class="text">ما بهترین شرکت وارد کننده مواد اولیه هستیم!!</div>
                    </div>
                    <div class="column text-left col-md-4 col-sm-12 col-xs-12">
                        <a href="#" class="theme-btn btn-style-two">ارتباط با ما</a>
                    </div>
                </div>
            </div>
        </section>

        <!--Team Section / Default-->
        <section class="team-section default">
            <div class="auto-container">
                <div class="row clearfix equal-height">

                    <!--Member Style Two-->
                    <div class="member-style-two col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            {% if aboutus.name_employee_1 != "no" %}
                            <div class="image-box">
                                <figure class="image"><img src="{{ aboutus.image_employee_1.url }}" alt=""></figure>
                                <div class="overlay-box">
                                    <ul class="social-links">
                                        <li><a href="{{ aboutus.whatsapp_employee_1 }}"><span class="fa fa-whatsapp"></span></a></li>
                                        <li><a href="{{ aboutus.twitter_employee_1 }}"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="{{ aboutus.telegram_employee_1 }}"><span class="fa fa-telegram"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="lower-box">
                                <h4><a >{{ aboutus.name_employee_1 }}</a></h4>
                                <div class="designation">{{ aboutus.title_employee_1 }}</div>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <!--Team Member-->
                    <div class="member-style-two col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            {% if aboutus.name_employee_2 != "no" %}
                            <div class="image-box">
                                <figure class="image"><img src="{{ aboutus.image_employee_2.url }}" alt=""></figure>
                                <div class="overlay-box">
                                    <ul class="social-links">
                                        <li><a href="{{ aboutus.whatsapp_employee_2 }}"><span class="fa fa-whatsapp"></span></a></li>
                                        <li><a href="{{ aboutus.twitter_employee_2 }}"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="{{ aboutus.telegram_employee_2 }}"><span class="fa fa-telegram"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="lower-box">
                                <h4><a>{{ aboutus.name_employee_2 }}</a></h4>
                                <div class="designation">{{ aboutus.title_employee_2 }}</div>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <!--Team Member-->
                    <div class="member-style-two col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            {% if aboutus.name_employee_3 != "no" %}
                            <div class="image-box">
                                <figure class="image"><img src="{{ aboutus.image_employee_3.url }}" alt=""></figure>
                                <div class="overlay-box">
                                    <ul class="social-links">
                                       <li><a href="{{ aboutus.whatsapp_employee_3 }}"><span class="fa fa-whatsapp"></span></a></li>
                                        <li><a href="{{ aboutus.twitter_employee_3 }}"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="{{ aboutus.telegram_employee_3 }}"><span class="fa fa-telegram"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="lower-box">
                                <h4><a>{{ aboutus.name_employee_3 }}</a></h4>
                                <div class="designation">{{ aboutus.title_employee_3 }}</div>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <!--Member Style Two-->
                    <div class="member-style-two col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            {% if aboutus.name_employee_4 != "no" %}
                            <div class="image-box">
                                <figure class="image"><img src="{{ aboutus.image_employee_4.url }}" alt=""></figure>
                                <div class="overlay-box">
                                    <ul class="social-links">
                                        <li><a href="{{ aboutus.whatsapp_employee_4 }}"><span class="fa fa-whatsapp"></span></a></li>
                                        <li><a href="{{ aboutus.twitter_employee_4 }}"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="{{ aboutus.telegram_employee_4 }}"><span class="fa fa-telegram"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="lower-box">
                                <h4><a>{{ aboutus.name_employee_4 }}</a></h4>
                                <div class="designation">{{ aboutus.title_employee_4 }}</div>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                </div>

            </div>
        </section>

    </div>

{% endblock content %}