{% extends 'mainlayout.html' %}

{% load render_partial %}

{% load social_share %}

{% load jalali_tags %}

{% load static %}

{% block title %}مقاله{% endblock title %}

{% block content %}

    <div class="page-wrapper body_wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!--Page Title-->
        <section class="page-title" style="background-image:url({% static 'images/background/1414.jpg' %});">
            <div class="auto-container">
                <h1>جزئیات بلاگ</h1>
                <div class="bread-crumb-outer">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'index_view' %}">خانه</a></li>
                        <li><a href="{% url 'blogs' id=1 %}">بلاگ</a></li>
                        <li class="active">جزئیات بلاگ</li>
                    </ul>
                </div>
            </div>
        </section>

        <!--Sidebar Page-->
        <div class="sidebar-page-container with-right-sidebar gray-bg">
            <div class="auto-container">
                <div class="row clearfix">

                    <!--Content Side-->
                    <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                        <section class="blog-details">

                            <div class="news-style-two">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><img src="{{ blog_detail.image_2.url }}" alt="">
                                        </figure>
                                    </div>
                                    <div class="lower-box">
                                        <h3>{{ blog_detail.title }}</h3>
                                        <div class="post-meta">
                                            <ul class="clearfix">
                                                <li><a href="#"><span
                                                        class="fa fa-calendar"></span>{{ blog_detail.created | to_jalali:'%y/%m/%d _ %H:%M' }}
                                                </a>
                                                </li>
                                                <li><a href="#"><span
                                                        class="fa fa-commenting-o"></span>{{ blog_detail.views }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="text">{{ blog_detail.text | safe }}
                                        </div>

                                    </div>

                                    <div class="post-options">
                                        <div class="tags"><strong>برچسب ها :</strong>
                                            <a>
                                                {% for tag in blog_detail.tags.all %}
                                                    {{ tag.name }}،
                                                {% endfor %}
                                            </a>
                                        </div>
                                        <div class="categories"><strong>دسته ها :</strong>
                                            <a>
                                                {% for category in blog_detail.category.all %}
                                                    {{ category.name }}،
                                                {% endfor %}
                                            </a>
                                        </div>
                                        <div class="share-options" style="margin-top: -25px">
                                            <!--Social Links-->
                                            <ul class="social-links">
                                                {% post_to_facebook object_or_url "Post to Facebook" %}
                                                {% post_to_whatsapp object_or_url "Post to Whatsapp" %}
                                                {% post_to_telegram object_or_url "Post to Telegram" %}
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!--Comments Area-->
                            <div class="comments-area">
                                <div class="group-title">
                                    <h2>{{ num_chats }} دیدگاه</h2>
                                </div>

                                <div class="comment-box">
                                    {% for chat in chats %}
                                        <div class="comment">
                                        <div class="comment-inner">
                                            <div class="author-thumb img-circle">
                                                <img class="img-circle"
                                                     src="{% static 'images/images.png' %}"
                                                     alt="">
                                            </div>
                                            <div class="rev-content">
                                                <div class="rating"><i data-star="{{ chat.score }}"></i></div>
                                                <!--comment-content-->
                                                <div class="comment-content">
                                                    <div class="comment-info">
                                                        <h4>{{ chat.username }}</h4>
                                                        <div class="date">{{ chat.created | to_jalali:'%y/%m/%d _ %H:%M' }}</div>
                                                    </div>
                                                    <div class="text">{{ chat.text | safe }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>

                                <!-- Comment Form -->
                                <div class="comment-form">

                                    <div class="group-title">
                                        <h2>دیدگاه خود را بیان کنید</h2>
                                    </div>

                                    <!--Comment Form-->
                                    {% render_partial 'blog-comment' id=blog_detail.id %}

                                </div>
                                <!--End Comment Form -->

                        </section>


                    </div>
                    <!--Content Side-->

                    <!--Sidebar-->
                    <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <aside class="sidebar">

                            <!-- Recent Posts -->
                            <div class="sidebar-widget popular-posts">
                                <div class="sidebar-title">
                                    <h3>مقالات جدید</h3>
                                </div>
                                {% for blog_sidebar in blogs_sidebar %}
                                    <article class="post">
                                        <figure class="post-thumb">
                                            <a href="{% url 'blog-detail' id=blog_sidebar.id %}"><img
                                                    src="{{ blog_sidebar.image_3.url }}"
                                                    alt=""></a>
                                        </figure>
                                        <div class="text"><a
                                                href="{% url 'blog-detail' id=blog_sidebar.id %}">{{ blog_sidebar.title }}</a>
                                        </div>
                                        <ul class="post-meta clearfix">
                                            <li><a><i
                                                    class="fa fa-calendar"></i>{{ blog_sidebar.created | to_jalali:'%y/%m/%d _ %H:%M' }}
                                            </a></li>
                                        </ul>
                                    </article>
                                {% endfor %}

                            </div>

                        </aside>


                    </div>
                    <!--Sidebar-->

                </div>
            </div>
        </div>

    </div>

{% endblock content %}
