{% extends 'mainlayout.html' %}
{#{% load render_partial %}#}

{% load static %}

{% block title %}مقاله{% endblock title %}

{% block content %}

    <div class="page-wrapper body_wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!--Page Title-->
        <section class="page-title" style="background-image:url({% static 'images/background/bg-page-title-1.jpg' %});">
            <div class="auto-container">
                <h1>جزئیات بلاگ</h1>
                <div class="bread-crumb-outer">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">خانه</a></li>
                        <li><a href="blog.html">بلاگ</a></li>
                        <li class="active">جزئیات بلاگ</li>
                    </ul>
                </div>
            </div>
        </section>

        <!--Sidebar Page-->
        <div class="sidebar-page-container with-right-sidebar gray-bg">
            <div class="auto-container">
                <div class="row clearfix">

                    <!--Content Side-->
                    <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                        <section class="blog-details">

                            <div class="news-style-two">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><img src="images/resource/single-news.jpg" alt="">
                                        </figure>
                                    </div>
                                    <div class="lower-box">
                                        <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده</h3>
                                        <div class="post-meta">
                                            <ul class="clearfix">
                                                <li><a href="#"><span class="fa fa-calendar"></span> 5 شهریور 1398</a>
                                                </li>
                                                <li><a href="#"><span class="fa fa-commenting-o"></span> 23 بازدید</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="text">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                                طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                                                متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                                                درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان</p>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                                طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                                                متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                                                درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با
                                                نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
                                                خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید
                                                داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان
                                                رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای</p>
                                            <blockquote>
                                                <div class="txt">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                                    چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                                                    مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                                                    نیاز و کاربردهای
                                                    متنوع با هدف بهبود ابزارهای کاربردی
                                                </div>
                                                <div class="info">لورم ایپسوم متن</div>
                                            </blockquote>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                                طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                                                متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                                                درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان</p>

                                            <div class="row clearfix">
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <ul class="list-style-one">
                                                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                                        </li>
                                                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</li>
                                                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از</li>
                                                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <ul class="list-style-one">
                                                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                                        </li>
                                                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</li>
                                                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از</li>
                                                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="row clearfix">
                                                <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                                    <figure><img src="images/resource/featured-image-8.jpg" alt="">
                                                    </figure>
                                                </div>
                                                <div class="content-column col-md-6 col-sm-6 col-xs-12">
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                        استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                                                        در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                                                        نیاز و
                                                        کاربردهای
                                                    </p>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                        استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                                                        در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                                                        نیاز و
                                                        کاربردهای
                                                    </p>
                                                </div>
                                            </div>

                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                                طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                                                متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                                                درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان</p>
                                        </div>

                                    </div>

                                    <div class="post-options">
                                        <div class="tags"><strong>برچسب ها :</strong> <a href="#">کسب و کار</a> , <a
                                                href="#">ما بهترین شرکت مشاوره هستیم!!</a></div>
                                        <div class="categories"><strong>دسته ها :</strong> <a href="#">حساب ها</a> , <a
                                                href="#">نمونه‌کارها</a></div>
                                        <div class="share-options">
                                            <!--Social Links-->
                                            <ul class="social-links">
                                                <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                                <li><a href="#"><span class="fa fa-telegram"></span></a></li>
                                                <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!--Comments Area-->
                            <div class="comments-area">
                                <div class="group-title">
                                    <h2>3 دیدگاه</h2>
                                </div>

                                <div class="comment-box">

                                    <!--Comment-->
                                    <div class="comment">
                                        <div class="comment-inner">
                                            <div class="author-thumb img-circle"><img class="img-circle"
                                                                                      src="images/resource/author-thumb-1.jpg"
                                                                                      alt=""></div>
                                            <!--comment-content-->
                                            <div class="comment-content">
                                                <div class="comment-info">
                                                    <h4>تونی استارک</h4>
                                                    <div class="date">5 شهریور 1398</div>
                                                </div>
                                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                                    چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                                                    مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment">
                                        <div class="comment-inner">
                                            <div class="author-thumb img-circle"><img class="img-circle"
                                                                                      src="images/resource/author-thumb-1.jpg"
                                                                                      alt=""></div>
                                            <!--comment-content-->
                                            <div class="comment-content">
                                                <div class="comment-info">
                                                    <h4>استیو جابز</h4>
                                                    <div class="date">5 شهریور 1398</div>
                                                </div>
                                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                                    چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                                                    مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment">
                                        <div class="comment-inner">
                                            <div class="author-thumb img-circle"><img class="img-circle"
                                                                                      src="images/resource/author-thumb-1.jpg"
                                                                                      alt=""></div>
                                            <!--comment-content-->
                                            <div class="comment-content">
                                                <div class="comment-info">
                                                    <h4>تونی استارک</h4>
                                                    <div class="date">5 شهریور 1398</div>
                                                </div>
                                                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                                    چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                                                    مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Comment Form -->
                            <div class="comment-form">

                                <div class="group-title">
                                    <h2>دیدگاه خود را بیان کنید</h2>
                                </div>

                                <!--Comment Form-->
                                <form method="post" action="blog.html">
                                    <div class="row clearfix">
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <label>امتیاز </label>
                                            <div class="rating">
                                                <a href="#" class="rate-box" title="1 از 5"><span
                                                        class="fa fa-star"></span></a>
                                                <a href="#" class="rate-box" title="2 از 5"><span
                                                        class="fa fa-star"></span> <span class="fa fa-star"></span></a>
                                                <a href="#" class="rate-box" title="3 از 5"><span
                                                        class="fa fa-star"></span> <span class="fa fa-star"> </span>
                                                    <span class="fa fa-star"></span></a>
                                                <a href="#" class="rate-box" title="4 از 5"><span
                                                        class="fa fa-star"></span> <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span> <span
                                                            class="fa fa-star"></span></a>
                                                <a href="#" class="rate-box" title="5 از 5"><span
                                                        class="fa fa-star"></span> <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span> <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <input type="text" name="username" placeholder="نام *" required>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <input type="text" name="username" placeholder="نام خانوادگی *" required>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <input type="email" name="email" placeholder="* ایمیل" required dir="ltr">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <input type="text" name="username" placeholder="تلفن تماس" dir="ltr">
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                            <textarea name="message" placeholder="متن دیدگاه *" required></textarea>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                            <button class="theme-btn btn-style-one" type="submit" name="submit-form">
                                                ارسال دیدگاه
                                            </button>
                                        </div>

                                    </div>
                                </form>

                            </div>
                            <!--End Comment Form -->

                        </section>


                    </div>
                    <!--Content Side-->

                    <!--Sidebar-->
                    <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <aside class="sidebar">

                            <!-- Recent Posts -->
                            <div class="sidebar-widget popular-posts">
                                <div class="sidebar-title">
                                    <h3>مقالات جدید</h3>
                                </div>

                                <article class="post">
                                    <figure class="post-thumb">
                                        <a href="blog-single.html"><img src="images/resource/post-thumb-2.jpg"
                                                                        alt=""></a>
                                    </figure>
                                    <div class="text"><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی</a></div>
                                    <ul class="post-meta clearfix">
                                        <li><a href="#"><i class="fa fa-calendar"></i>27 مرداد 1398 </a></li>
                                    </ul>
                                </article>

                                <article class="post">
                                    <figure class="post-thumb">
                                        <a href="blog-single.html"><img src="images/resource/post-thumb-3.jpg"
                                                                        alt=""></a>
                                    </figure>
                                    <div class="text"><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a>
                                    </div>
                                    <ul class="post-meta clearfix">
                                        <li><a href="#"><i class="fa fa-calendar"></i>21 مرداد 1398 </a></li>
                                    </ul>
                                </article>

                            </div>

                        </aside>


                    </div>
                    <!--Sidebar-->

                </div>
            </div>
        </div>

    </div>

{% endblock content %}
