{% extends 'mainlayout.html' %}
{#{% load render_partial %}#}

{% load static %}

{% block title %}مقالات{% endblock title %}

{% block content %}

    <div class="page-wrapper body_wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!--Page Title-->
        <section class="page-title" style="background-image:url({% static 'images/background/bg-page-title-1.jpg' %});">
            <div class="auto-container">
                <h1>بلاگ</h1>
                <div class="bread-crumb-outer">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">خانه</a></li>
                        <li class="active">بلاگ</li>
                    </ul>
                </div>
            </div>
        </section>

        <!--Sidebar Page-->
        <div class="sidebar-page-container with-right-sidebar gray-bg">
            <div class="auto-container">
                <div class="row clearfix">

                    <!--Content Side-->
                    <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">

                        <!--News Section-->
                        <section class="news-section no-padd">

                            <div class="row clearfix equal-height">
                                <!--News Style One-->
                                <div class="news-style-two col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box wow fadeInUp animated" data-wow-delay="0ms"
                                         data-wow-duration="1500ms"
                                         style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/news-img-2.jpg" alt="">
                                            </figure>
                                            <div class="overlay-box"><a class="link-box" href="blog-single.html"><span
                                                    class="fa fa-link"></span></a></div>
                                        </div>
                                        <div class="lower-box">
                                            <div class="post-meta">
                                                <ul class="clearfix">
                                                    <li><a href="#"><span class="fa fa-calendar"></span> 5 شهریور
                                                        1398</a></li>
                                                    <li><a href="#"><span class="fa fa-commenting-o"></span> 23
                                                        بازدید</a></li>
                                                </ul>
                                            </div>
                                            <h3><a href="blog-single.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                از صنعت</a></h3>
                                            <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                                و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
                                                ستون و سطرآنچنان که لازم
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!--News Style One-->
                                <div class="news-style-two col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box wow fadeInUp animated" data-wow-delay="300ms"
                                         data-wow-duration="1500ms"
                                         style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp;">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/news-img-3.jpg" alt="">
                                            </figure>
                                            <div class="overlay-box"><a class="link-box" href="blog-single.html"><span
                                                    class="fa fa-link"></span></a></div>
                                        </div>
                                        <div class="lower-box">
                                            <div class="post-meta">
                                                <ul class="clearfix">
                                                    <li><a href="#"><span class="fa fa-calendar"></span> 2 شهریور
                                                        1398</a></li>
                                                    <li><a href="#"><span class="fa fa-commenting-o"></span> 23
                                                        بازدید</a></li>
                                                </ul>
                                            </div>
                                            <h3><a href="blog-single.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                از صنعت چاپ و با استفاده</a></h3>
                                            <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                                و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
                                                ستون و سطرآنچنان که لازم
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--News Style One-->
                                <div class="news-style-two col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box wow fadeInUp animated" data-wow-delay="600ms"
                                         data-wow-duration="1500ms"
                                         style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInUp;">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/news-img-5.jpg" alt="">
                                            </figure>
                                            <div class="overlay-box"><a class="link-box" href="blog-single.html"><span
                                                    class="fa fa-link"></span></a></div>
                                        </div>
                                        <div class="lower-box">
                                            <div class="post-meta">
                                                <ul class="clearfix">
                                                    <li><a href="#"><span class="fa fa-calendar"></span> 31 مرداد
                                                        1398</a></li>
                                                    <li><a href="#"><span class="fa fa-commenting-o"></span> 23
                                                        بازدید</a></li>
                                                </ul>
                                            </div>
                                            <h3><a href="blog-single.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                از</a></h3>
                                            <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                                و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
                                                ستون و سطرآنچنان که لازم
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--News Style One-->
                                <div class="news-style-two col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box wow fadeInUp animated" data-wow-delay="0ms"
                                         data-wow-duration="1500ms"
                                         style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/news-img-2.jpg" alt="">
                                            </figure>
                                            <div class="overlay-box"><a class="link-box" href="blog-single.html"><span
                                                    class="fa fa-link"></span></a></div>
                                        </div>
                                        <div class="lower-box">
                                            <div class="post-meta">
                                                <ul class="clearfix">
                                                    <li><a href="#"><span class="fa fa-calendar"></span> 5 شهریور
                                                        1398</a></li>
                                                    <li><a href="#"><span class="fa fa-commenting-o"></span> 23
                                                        بازدید</a></li>
                                                </ul>
                                            </div>
                                            <h3><a href="blog-single.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                از صنعت</a></h3>
                                            <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                                و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
                                                ستون و سطرآنچنان که لازم
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!--News Style One-->
                                <div class="news-style-two col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box wow fadeInUp animated" data-wow-delay="300ms"
                                         data-wow-duration="1500ms"
                                         style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp;">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/news-img-3.jpg" alt="">
                                            </figure>
                                            <div class="overlay-box"><a class="link-box" href="blog-single.html"><span
                                                    class="fa fa-link"></span></a></div>
                                        </div>
                                        <div class="lower-box">
                                            <div class="post-meta">
                                                <ul class="clearfix">
                                                    <li><a href="#"><span class="fa fa-calendar"></span> 2 شهریور
                                                        1398</a></li>
                                                    <li><a href="#"><span class="fa fa-commenting-o"></span> 23
                                                        بازدید</a></li>
                                                </ul>
                                            </div>
                                            <h3><a href="blog-single.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                از صنعت چاپ و با استفاده</a></h3>
                                            <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                                و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
                                                ستون و سطرآنچنان که لازم
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--News Style One-->
                                <div class="news-style-two col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box wow fadeInUp animated" data-wow-delay="600ms"
                                         data-wow-duration="1500ms"
                                         style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInUp;">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/news-img-5.jpg" alt="">
                                            </figure>
                                            <div class="overlay-box"><a class="link-box" href="blog-single.html"><span
                                                    class="fa fa-link"></span></a></div>
                                        </div>
                                        <div class="lower-box">
                                            <div class="post-meta">
                                                <ul class="clearfix">
                                                    <li><a href="#"><span class="fa fa-calendar"></span> 31 مرداد
                                                        1398</a></li>
                                                    <li><a href="#"><span class="fa fa-commenting-o"></span> 23
                                                        بازدید</a></li>
                                                </ul>
                                            </div>
                                            <h3><a href="blog-single.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                از</a></h3>
                                            <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                                و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
                                                ستون و سطرآنچنان که لازم
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <!-- Styled Pagination -->
                            <div class="styled-pagination text-center">
                                <ul class="clearfix">
                                    <li><a href="#"><span class="fa fa-angle-right"></span></a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#" class="active">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#"><span class="fa fa-angle-left"></span></a></li>
                                </ul>
                            </div>

                        </section>


                    </div>
                    <!--Content Side-->

                    <!--Sidebar-->
                    <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <aside class="sidebar">


                            <!-- Recent Posts -->
                            <div class="sidebar-widget popular-posts">
                                <div class="sidebar-title">
                                    <h3>مقالات جدید</h3>
                                </div>

                                <article class="post">
                                    <figure class="post-thumb">
                                        <a href="blog-single.html"><img src="images/resource/post-thumb-1.jpg"
                                                                        alt=""></a>
                                    </figure>
                                    <div class="text"><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a>
                                    </div>
                                    <ul class="post-meta clearfix">
                                        <li><a href="#"><i class="fa fa-calendar"></i>30 مرداد 1398 </a></li>
                                    </ul>
                                </article>

                                <article class="post">
                                    <figure class="post-thumb">
                                        <a href="blog-single.html"><img src="images/resource/post-thumb-2.jpg"
                                                                        alt=""></a>
                                    </figure>
                                    <div class="text"><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی</a></div>
                                    <ul class="post-meta clearfix">
                                        <li><a href="#"><i class="fa fa-calendar"></i>27 مرداد 1398 </a></li>
                                    </ul>
                                </article>

                                <article class="post">
                                    <figure class="post-thumb">
                                        <a href="blog-single.html"><img src="images/resource/post-thumb-3.jpg"
                                                                        alt=""></a>
                                    </figure>
                                    <div class="text"><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a>
                                    </div>
                                    <ul class="post-meta clearfix">
                                        <li><a href="#"><i class="fa fa-calendar"></i>21 مرداد 1398 </a></li>
                                    </ul>
                                </article>

                            </div>

                        </aside>


                    </div>
                    <!--Sidebar-->

                </div>
            </div>
        </div>

    </div>
    <!--End pagewrapper-->

{% endblock content %}