{% extends 'mainlayout.html' %}
{#{% load render_partial %}#}

{% load static %}

{% block title %}صالة عرض{% endblock title %}

{% block content %}
    <div class="page-wrapper body_wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!--Page Title-->
        <section class="page-title" style="background-image:url({% static 'images/background/1414.jpg' %});">
            <div class="auto-container">
                <h1>معرض الصور</h1>
                <div class="bread-crumb-outer">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'index_view' %}">الصفحة الرئيسية</a></li>
                        <li class="active">معرض الصور</li>
                    </ul>
                </div>
            </div>
        </section>

        <!--Gallery Section-->
        <section class="gallery-section">
            <div class="auto-container">
                <div class="row-15 grid clearfix masonary-layout filter-layout">
                    {% for image in pages %}
                        <!--Default Portfolio Item-->
                        <div class="default-portfolio-item Consulting Finance Marketing col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <a href="{{ image.image.url }}" class="lightbox-image option-btn" title="{{ image.title }}"
                               data-fancybox-group="example-gallery">
                                <figure class="effect-bubba">
                                    <img src="{{ image.image.url }}" alt="image">
                                    <figcaption>
                                        <div class="content">
                                            <h2>{{ image.title }}</h2>
                                            <p>{{ image.text | truncatechars:50 | safe }}</p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <br>
                <!-- Styled Pagination -->
                <div class="styled-pagination text-center">
                    <ul class="clearfix">
                        <li><a href="{% url 'gallery-image' id=previous_page %}"><span class="fa fa-angle-right"></span></a></li>
                            {% for num_page in page_number %}
                                {% if forloop.counter == active_page %}
                                    <li><a href="{% url 'gallery-image' id=forloop.counter %}" class="active">{{ forloop.counter }}</a></li>
                                {% endif %}
                                {% if forloop.counter != active_page %}
                                    <li><a href="{% url 'gallery-image' id=forloop.counter %}">{{ forloop.counter }}</a></li>
                                {% endif %}
                            {% endfor %}
                        <li><a href="{% url 'gallery-image' id=next_page %}"><span class="fa fa-angle-left"></span></a></li>
                    </ul>
                </div>

            </div>
        </section>

    </div>
    <!--End pagewrapper-->
{% endblock content %}
