{% extends 'mainlayout.html' %}
{#{% load render_partial %}#}

{% load static %}

{% block title %}گالری{% endblock title %}

{% block content %}
    <div class="page-wrapper body_wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!--Page Title-->
        <section class="page-title" style="background-image:url(images/background/bg-page-title-1.jpg);">
            <div class="auto-container">
                <h1>گالری تصاویر</h1>
                <div class="bread-crumb-outer">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">خانه</a></li>
                        <li class="active">گالری تصاویر</li>
                    </ul>
                </div>
            </div>
        </section>

        <!--Gallery Section-->
        <section class="gallery-section">
            <div class="auto-container">
                <!-- <div class="text-center">
                    <ul class="post-filter list-inline">
                        <li class="active" data-filter=".default-portfolio-item">
                            <span>مشاهده همه</span>
                        </li>
                        <li data-filter=".Consulting">
                            <span>ماده</span>
                        </li>
                        <li data-filter=".Finance">
                            <span>زراعتی</span>
                        </li>
                        <li data-filter=".Marketing">
                            <span>شیمیایی</span>
                        </li>
                        <li data-filter=".Growth">
                            <span>مکانیکی</span>
                        </li>
                        <li data-filter=".Finance">
                            <span>قدرت و نیرو</span>
                        </li>
                    </ul>
                </div> -->

                <div class="row-15 grid clearfix masonary-layout filter-layout">
                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item Growth col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <a href="images/gallery/14.jpg" class="lightbox-image option-btn" title="توضیحات تصویر"
                               data-fancybox-group="example-gallery">
                                <figure class="effect-bubba">
                                    <img src="images/gallery/14.jpg" alt="image">
                                    <figcaption>
                                        <div class="content">
                                            <h2>لورم ایپسوم متن ساختگی با</h2>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>

                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item Consulting Marketing col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <a href="images/gallery/12.jpg" class="lightbox-image option-btn" title="توضیحات تصویر"
                               data-fancybox-group="example-gallery">
                                <figure class="effect-bubba">
                                    <img src="images/gallery/12.jpg" alt="image">
                                    <figcaption>
                                        <div class="content">
                                            <h2>لورم ایپسوم متن ساختگی با</h2>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>

                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item Finance col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <a href="images/gallery/10.jpg" class="lightbox-image option-btn" title="توضیحات تصویر"
                               data-fancybox-group="example-gallery">
                                <figure class="effect-bubba">
                                    <img src="images/gallery/10.jpg" alt="image">
                                    <figcaption>
                                        <div class="content">
                                            <h2>لورم ایپسوم متن ساختگی با</h2>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>

                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item Marketing Growth col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <a href="images/gallery/16.jpg" class="lightbox-image option-btn" title="توضیحات تصویر"
                               data-fancybox-group="example-gallery">
                                <figure class="effect-bubba">
                                    <img src="images/gallery/16.jpg" alt="image">
                                    <figcaption>
                                        <div class="content">
                                            <h2>لورم ایپسوم متن ساختگی با</h2>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>

                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item Marketing Finance col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <a href="images/gallery/13.jpg" class="lightbox-image option-btn" title="توضیحات تصویر"
                               data-fancybox-group="example-gallery">
                                <figure class="effect-bubba">
                                    <img src="images/gallery/13.jpg" alt="image">
                                    <figcaption>
                                        <div class="content">
                                            <h2>لورم ایپسوم متن ساختگی با</h2>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>

                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item Growth col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <a href="images/gallery/14.jpg" class="lightbox-image option-btn" title="توضیحات تصویر"
                               data-fancybox-group="example-gallery">
                                <figure class="effect-bubba">
                                    <img src="images/gallery/14.jpg" alt="image">
                                    <figcaption>
                                        <div class="content">
                                            <h2>لورم ایپسوم متن ساختگی با</h2>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>

                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item Consulting Finance Marketing col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <a href="images/gallery/15.jpg" class="lightbox-image option-btn" title="توضیحات تصویر"
                               data-fancybox-group="example-gallery">
                                <figure class="effect-bubba">
                                    <img src="images/gallery/15.jpg" alt="image">
                                    <figcaption>
                                        <div class="content">
                                            <h2>لورم ایپسوم متن ساختگی با</h2>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>

                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item Marketing Growth col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <a href="images/gallery/12.jpg" class="lightbox-image option-btn" title="توضیحات تصویر"
                               data-fancybox-group="example-gallery">
                                <figure class="effect-bubba">
                                    <img src="images/gallery/12.jpg" alt="image">
                                    <figcaption>
                                        <div class="content">
                                            <h2>لورم ایپسوم متن ساختگی با</h2>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>

                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item Growth Finance col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <a href="images/gallery/13.jpg" class="lightbox-image option-btn" title="توضیحات تصویر"
                               data-fancybox-group="example-gallery">
                                <figure class="effect-bubba">
                                    <img src="images/gallery/13.jpg" alt="image">
                                    <figcaption>
                                        <div class="content">
                                            <h2>لورم ایپسوم متن ساختگی با</h2>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>

                </div>

                <br>
                <!-- Styled Pagination -->
                <div class="styled-pagination text-center">
                    <ul class="clearfix">
                        <li><a href="#"><span class="fa fa-angle-right"></span></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#" class="active">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><span class="fa fa-angle-left"></span></a></li>
                    </ul>
                </div>

            </div>
        </section>

    </div>
    <!--End pagewrapper-->
{% endblock content %}
