{% extends 'mainlayout.html' %}
{#{% load render_partial %}#}

{% load static %}

{% block title %}گالری ویدئو{% endblock title %}

{% block content %}

    <div class="page-wrapper body_wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!--Page Title-->
        <section class="page-title" style="background-image:url({% static 'images/background/1414.jpg' %});">
            <div class="auto-container">
                <h1>گالری ویدئو</h1>
                <div class="bread-crumb-outer">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'index_view' %}">خانه</a></li>
                        <li class="active">گالری ویدئو</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="gallery-block">
            <div class="film-container">
                <div class="row">
                    {% for video in pages %}
                        <div class="single-film wow fadeInDown" data-wow-delay=".1s">
                            <div class="box" style="background: url({{ video.image.url }});">
                                <div class="box__right box-pay-icon">
                                    <a href="{{ video.video.url }}">
                                        <i class="play-movie-icon fa fa-play"></i>
                                    </a>
                                </div>
                                <div class="box__left box-pay-icon">
                                    <a href="{{ video.video.url }}">
                                        <i class="play-movie-icon fa fa-play"></i>
                                    </a>
                                </div>
                                <div class="box__top box-pay-icon">
                                    <a href="{{ video.video.url }}">
                                        <i class="play-movie-icon fa fa-play"></i>
                                    </a>
                                </div>
                                <div class="box__bottom box-pay-icon">
                                    <a href="{{ video.video.url }}">
                                        <i class="play-movie-icon fa fa-play"></i>
                                    </a>
                                </div>
                                <div class="play-video">
                                    <video width="320" height="240" controls id="PlayVideo1">
                                        <source src="{{ video.video.url }}" type="video/mp4">
                                    </video>
                                    <i class="video-tag-close fa fa-close" onclick="pauseVid6()"></i>
                                </div>
                            </div>
                            <div class="film-information">
                                <p>{{ video.title }}</p>
                                <p>{{ video.text | truncatechars:50 | safe}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Styled Pagination -->
                <div class="styled-pagination text-center">
                    <ul class="clearfix">
                        <li><a href="{% url 'gallery-video' id=previous_page %}"><span class="fa fa-angle-right"></span></a></li>
                            {% for num_page in page_number %}
                                {% if forloop.counter == active_page %}
                                    <li><a href="{% url 'gallery-video' id=forloop.counter %}" class="active">{{ forloop.counter }}</a></li>
                                {% endif %}
                                {% if forloop.counter != active_page %}
                                    <li><a href="{% url 'gallery-video' id=forloop.counter %}">{{ forloop.counter }}</a></li>
                                {% endif %}
                            {% endfor %}
                        <li><a href="{% url 'gallery-video' id=next_page %}"><span class="fa fa-angle-left"></span></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
    </div>
    <!--End pagewrapper-->

{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/revolution.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/appear.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/jquery3.1.0.min.js' %}"></script>
    <script src="{% static 'js/script-gallery.js' %}"></script>
    <script src="{% static 'js/script-gallery.js' %}"></script>
{% endblock javascript %}
