{% extends 'mainlayout.html' %}
{#{% load render_partial %}#}

{% load static %}

{% block title %}گالری ویدئو{% endblock title %}

{% block content %}

    <div class="page-wrapper body_wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!--Page Title-->
        <section class="page-title" style="background-image:url({% static 'images/background/1414.jpg' %});">
            <div class="auto-container">
                <h1>گالری ویدئو</h1>
                <div class="bread-crumb-outer">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'index_view' %}">خانه</a></li>
                        <li class="active">گالری ویدئو</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="gallery-block">
            <div class="film-container">
                <div class="row">
                    {% for video in pages %}
                        <div class="single-film wow fadeInDown col-lg-4 col-md-4 col-sm-6 col-xs-12" data-wow-delay=".{{ forloop.counter }}s">
                            <div class="box" style="background: url({{ video.image.url }});">
                                <div class="box__right box-pay-icon">
                                    <a href="javascript:;">
                                        <i class="play-movie-icon fa fa-play mt-gallery"></i>
                                    </a>
                                </div>
                                <div class="box__left box-pay-icon">
                                    <a href="javascript:;">
                                        <i class="play-movie-icon fa fa-play mt-gallery"></i>
                                    </a>
                                </div>
                                <div class="box__top box-pay-icon">
                                    <a href="javascript:;">
                                        <i class="play-movie-icon fa fa-play mt-gallery"></i>
                                    </a>
                                </div>
                                <div class="box__bottom box-pay-icon">
                                    <a href="javascript:;">
                                        <i class="play-movie-icon fa fa-play mt-gallery"></i>
                                    </a>
                                </div>
                                <div class="play-video">
                                    <video width="320" height="240" controls id="PlayVideo{{ forloop.counter }}">
                                        <source src="{{ video.video.url }}" type="video/mp4">
                                    </video>
                                </div>
                                <i class="video-tag-close fa fa-close" onclick="pauseVid{{ forloop.counter }}()"></i>
                            </div>
                            <div class="film-information">
                                <p>{{ video.title }}</p>
                                <p>{{ video.text | truncatechars:50 | safe }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Styled Pagination -->
                <div class="styled-pagination text-center">
                    <ul class="clearfix">
                        <li><a href="{% url 'gallery-video' id=previous_page %}"><span class="fa fa-angle-right"></span></a>
                        </li>
                        {% for num_page in page_number %}
                            {% if forloop.counter == active_page %}
                                <li><a href="{% url 'gallery-video' id=forloop.counter %}"
                                       class="active">{{ forloop.counter }}</a></li>
                            {% endif %}
                            {% if forloop.counter != active_page %}
                                <li><a href="{% url 'gallery-video' id=forloop.counter %}">{{ forloop.counter }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li><a href="{% url 'gallery-video' id=next_page %}"><span class="fa fa-angle-left"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
    </div>
    <!--End pagewrapper-->

{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/script-gallery.js' %}"></script>
{% endblock javascript %}
