{% extends 'mainlayout.html' %}
{#{% load render_partial %}#}

{% load static %}

{% block title %}سورن شیمی{% endblock title %}

{% block description %}{{ about_us | truncatechars:247 }}{% endblock description %}

{% block keywords %}{% for keyword in keywords %}{{ keyword }},{% endfor %}{% endblock keywords %}

{% block content %}

    <div class="page-wrapper body_wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!--Main Slider-->
        <section class="main-slider" data-start-height="600" data-slide-overlay="no">

            <div class="tp-banner-container">
                <div class="tp-banner">
                    <ul>
                        {% for banner in mainbanner %}
                            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
                                data-thumb="{{ banner.image_1.url }}" data-saveperformance="off"
                                data-title="عنوان اسلاید">

                                <img src="{{ banner.image_1.url }}" alt="" data-bgposition="center top"
                                     data-bgfit="cover"
                                     data-bgrepeat="no-repeat">

                                <!--Slide Overlay-->
                                <div class="slide-overlay"></div>

                                <div class="tp-caption sft sfb tp-resizeme text-right" data-x="right" data-hoffset="-30"
                                     data-y="center" data-voffset="-85" data-speed="1500" data-start="0"
                                     data-easing="easeOutExpo" data-splitin="none" data-splitout="none"
                                     data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200"
                                     data-endeasing="Power4.easeIn">
                                    <h2>
                                        {{ banner.title | truncatechars:600 }}
                                    </h2>
                                </div>

                                <div class="tp-caption sft sfb tp-resizeme text-right text-caption" data-x="right"
                                     data-hoffset="-30" data-y="center" data-voffset="55" data-speed="1500"
                                     data-start="500"
                                     data-easing="easeOutExpo" data-splitin="none" data-splitout="none"
                                     data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200"
                                     data-endeasing="Power4.easeIn">
                                    <div class="text">
                                        {{ banner.text | truncatechars:600 | safe }}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </section>

        <!--Services Section-->
        <section class="welcome-section">
            <div class="auto-container">
                <!--Sec Title-->
                <div class="sec-title centered">
                    <h2><span>اسانس ها</span></h2>
                    <div class="separator"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="carousel carousel-showmanymoveone slide" id="itemslider">
                            <div class="carousel-inner">
                                {% for essence in essences %}
                                    {% if forloop.counter == 1 %}
                                        <div class="item active">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#"><img src="{{ essence.image_1.url }}"
                                                                 class="img-responsive center-block"></a>
                                                <h4 class="text-center">{{ essence.title }}</h4>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if forloop.counter != 1 %}
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#"><img src="{{ essence.image_1.url }}"
                                                                 class="img-responsive center-block"></a>
                                                <h4 class="text-center">{{ essence.title }}</h4>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div id="slider-control">
                                <a class="left carousel-control" style="margin-left: -1.2%;" href="#itemslider"
                                   data-slide="prev"><img src="{% static 'images/fancybox/right.png' %}" alt="Left"
                                                          class="img-responsive"></a>
                                <a class="right carousel-control" style="margin-right: -1.2%;" href="#itemslider"
                                   data-slide="next"><img src="{% static 'images/fancybox/left.png' %}" alt="Right"
                                                          class="img-responsive"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Services Section-->

        <section class="featured-area">
            <div class="container">
                <!--Title-->
                <div class="sec-title centered">
                    <h2>محصولات <span>ما</span></h2>
                </div>
                <div class="row featured equal-height">
                    <!--Start single featured item-->
                    {% for product_group in products_group %}
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="single-featured-item">
                                <a href="{% url 'products' id=product_group.id %}">
                                    <div class="icon-holder">
                                        <div class="icon-bg">
                                        <span class="{{ product_group.flat_name }}">
                                        </span>
                                        </div>
                                    </div>
                                    <div class="text-holder">
                                        <h3>{{ product_group.name }}</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    <!--End single featured item-->
                </div>
            </div>
        </section>

        <!--Two Default Section-->
        <section class="default-section-two">
            <div class="auto-container">

                <div class="row clearfix">

                    <!--Accordion Column-->
                    <div class="accordion-block column col-md-6 col-sm-12 col-xs-12">
                        <!--Title-->
                        <div class="sec-title">
                            <h2>سوالات <span>متداول</span></h2>
                        </div>

                        <!--Accordion Box-->
                        <ul class="accordion-box">
                            {% for faq in fas %}
                            <!--Block-->
                                {% if forloop.counter == 1 %}
                                    <li class="accordion block active">
                                        <div class="acc-btn active">
                                            <div class="icon-outer"><span class="icon fa fa-angle-left"></span></div>
                                            {{faq.title}}
                                        </div>
                                        <div class="acc-content current">
                                            <div class="content">
                                                <p style="text-align: justify">{{ faq.answer | truncatechars:800 | safe }}</p>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                                {% if forloop.counter != 1 %}
                                    <li class="accordion block active">
                                        <div class="acc-btn">
                                            <div class="icon-outer"><span class="icon fa fa-angle-left"></span></div>
                                            {{faq.title}}
                                        </div>
                                        <div class="acc-content">
                                            <div class="content">
                                                <p style="text-align: justify">{{ faq.answer | truncatechars:800 | safe }}</p>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="about-column column col-md-6 col-sm-12 col-xs-12">
                        <div class="inner">
                            <!--Title-->
                            <div class="sec-title">
                                <h2>درباره <span>ما</span></h2>
                            </div>

                            <div class="image-box"><img src="{{ aboutus.image.url }}" alt="ما کسیتیم؟"></div>
                            <div class="row clearfix">
                                <!--Text Column-->
                                <div class="text-column col-md-6 col-sm-6 col-xs-12">
                                    <h3 >ما کیستیم؟</h3>
                                    <div class="text" style="text-align: justify">{{ aboutus.who_we_are }}
                                    </div>
                                    <div class="btn-box"><a href="{% url 'about_us' %}" class="theme-btn btn-style-one">آشنایی
                                        بیشتر</a></div>
                                </div>
                                <!--Text Column-->
                                <div class="text-column col-md-6 col-sm-6 col-xs-12">
                                    <h3>ماموریت ما</h3>
                                    <div class="text" style="text-align: justify">{{ aboutus.our_mission | truncatechars:200 | safe}}
                                    </div>
                                    <div class="signature text-left"><img src="{% static 'images/resource/signature.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!--End Two Default Section-->

        <div class="tow-column">
            <div class="auto-container">
                <!--Title-->
                <div class="sec-title centered light">
                    <h2>ویژگی های <span>منحصر به فرد ما</span></h2>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <div class="row equal-height">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="service-block">
                                    <div class="inner-box">
                                        <!--icon-box-->
                                        <div class="icon-box">
                                            <span class="flaticon-tools"></span>
                                        </div>
                                        <h3>{{ general_info.feature_title_1 }}</h3>
                                        <div class="text" style="text-align: justify">{{ general_info.feature_text_1 }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="service-block">
                                    <div class="inner-box">
                                        <!--icon-box-->
                                        <div class="icon-box">
                                            <span class="flaticon-people-1"></span>
                                        </div>
                                        <h3>{{ general_info.feature_title_2 }}</h3>
                                        <div class="text" style="text-align: justify">{{ general_info.feature_text_2 }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="service-block">
                                    <div class="inner-box">
                                        <!--icon-box-->
                                        <div class="icon-box">
                                            <span class="flaticon-drawing"></span>
                                        </div>
                                        <h3>{{ general_info.feature_title_3 }}</h3>
                                        <div class="text" style="text-align: justify">{{ general_info.feature_text_3 }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="service-block">
                                    <div class="inner-box">
                                        <!--icon-box-->
                                        <div class="icon-box">
                                            <span class="flaticon-light-bulb"></span>
                                        </div>
                                        <h3>{{ general_info.feature_title_4 }}</h3>
                                        <div class="text" style="text-align: justify">{{ general_info.feature_text_4 }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="content-area">
                            <h3>{{ general_info.general_feature_title }}</h3>
                            <p style="text-align: justify">{{ general_info.general_feature_text | truncatechars:100  | safe}}</p>

                            <div class="link"><a href="#" class="theme-btn btn-style-five">بیشتر بخوانید</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--Gallery Section-->
        <section class="gallery-section">
            <div class="auto-container">
                <!--Title-->
                <div class="sec-title centered">
                    <h2>آخرین <span>محصولات ما</span></h2>
                </div>
                <div class="text-center">
                    <ul class="post-filter list-inline">
                        <li class="active" data-filter=".default-portfolio-item">
                            <span>مشاهده همه</span>
                        </li>
                        <li data-filter=".Essence">
                            <span>اسانس</span>
                        </li>
                        <li data-filter=".Solver">
                            <span>حلال</span>
                        </li>
                        <li data-filter=".FoodIndustry">
                            <span>صنایع غذایی</span>
                        </li>
                        <li data-filter=".Growth">
                            <span>صنایع کشاورزی</span>
                        </li>
                    </ul>
                </div>

                <div class="row-15 grid clearfix masonary-layout filter-layout">
                    <!--Default Portfolio Item-->
                    {% for product in products %}
                        {% for product_gp in product.product_group.all %}
                            {% if product_gp.type == "AI" and forloop.counter == 1 %}
                                <div class="default-portfolio-item Growth col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <a href="{% url 'product_detail' id=product.id %}">
                                            <figure class="effect-bubba">
                                                <img src="{{ product.image_1.url }}" alt="image">
                                                <figcaption>
                                                    <div class="content">
                                                        <h2>{{ product.title }}</h2>
                                                        <p>{{ product.description | truncatechars:100}}</p>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if product_gp.type == "ES" and forloop.counter == 1 %}
                                <div class="default-portfolio-item Essence col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <a href="{% url 'product_detail' id=product.id %}">
                                            <figure class="effect-bubba">
                                                <img src="{{ product.image_1.url }}" alt="image">
                                                <figcaption>
                                                    <div class="content">
                                                        <h2>{{ product.title }}</h2>
                                                        <p>{{ product.description | truncatechars:100}}</p>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if product_gp.type == "FI" and forloop.counter == 1 %}
                                <div class="default-portfolio-item FoodIndustry col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <a href="{% url 'product_detail' id=product.id %}">
                                            <figure class="effect-bubba">
                                                <img src="{{ product.image_1.url }}" alt="image">
                                                <figcaption>
                                                    <div class="content">
                                                        <h2>{{ product.title }}</h2>
                                                        <p>{{ product.description | truncatechars:100}}</p>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if product_gp.type == "SO" and forloop.counter == 1 %}
                                <div class="default-portfolio-item Solver col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <a href="{% url 'product_detail' id=product.id %}">
                                            <figure class="effect-bubba">
                                                <img src="{{ product.image_1.url }}" alt="image">
                                                <figcaption>
                                                    <div class="content">
                                                        <h2>{{ product.title }}</h2>
                                                        <p>{{ product.description | truncatechars:100}}</p>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>

            </div>
        </section>

        <section class="parallax" style="background-color: black;">
            <div class="auto-container">
                <h2>{{ general_info.social_network_description }}</h2>
                <div class="link">
                    <a href="{{ general_info.whatsapp }}"><span class="fa fa-whatsapp"></span></a>
                    <a href="{{ general_info.twitter }}"><span class="fa fa-twitter"></span></a>
                    <a href="{{ general_info.telegram }}"><span class="fa fa-telegram"></span></a>
                    <a href="{{ general_info.instagram }}"><span class="fa fa-instagram"></span></a>
                </div>
            </div>
        </section>

        <section class="news-section gray-bg">
            <div class="auto-container">
                <!--Title-->
                <div class="sec-title centered">
                    <h2>آخرین <span>مقالات</span></h2>
                </div>

                <div class="row clearfix equal-height">
                    {% for blog in blogs %}
                        <!--News Style One-->
                        <div class="news-style-two col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="inner-box wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms"
                                 style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                <div class="image-box">
                                    <figure class="image"><img src="{{ blog.image_1.url }}" alt=""></figure>
                                    <div class="overlay-box"><a class="link-box" href="{% url 'blog-detail' id=blog.id %}"><span
                                            class="fa fa-link"></span></a></div>
                                </div>
                                <div class="lower-box">
                                    <div class="post-meta">
                                        <ul class="clearfix">
                                            <li><a href="{% url 'blog-detail' id=blog.id %}"><span class="fa fa-calendar"></span>{{ blog.created }}</a></li>
                                            <li><a href="{% url 'blog-detail' id=blog.id %}"><span class="fa fa-commenting-o"></span>{{ blog.views }}</a></li>
                                        </ul>
                                    </div>
                                    <h3><a href="{% url 'blog-detail' id=blog.id %}">{{ blog.title }}</a>
                                    </h3>
                                    <div class="text" style="text-align: justify">{{ blog.text | truncatechars:388 | safe }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
    <!--End pagewrapper-->

{% endblock content %}