{% extends 'mainlayout.html' %}
{#{% load render_partial %}#}

{% load static %}

{% block title %}گروه محصولات{% endblock title %}

{% block content %}
    <div class="page-wrapper body_wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!--Page Title-->
        <section class="page-title" style="background-image:url({% static 'images/background/1414.jpg' %});">
            <div class="auto-container">
                <h1>محصولات</h1>
                <div class="bread-crumb-outer">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'index_view' %}">خانه</a></li>
                        <li class="active">محصولات</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="featured-area">
            <div class="container">
                <div class="row featured equal-height">
                    {% for group in groups %}
                        <!--Start single featured item-->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="single-featured-item">
                                <div class="icon-holder">
                                    <div class="icon-bg">
                                        <span class="{{ group.flat_name }}">
                                        </span>
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <h3>{{ group.name }}</h3>
                                    <p>{{ group.description | truncatechars:220 | safe }}</p>
                                    <a class="thm-btn" href="{% url 'products' id=group.id page=1 %}">بیشتر بخوانید</a>
                                </div>
                            </div>
                        </div>
                        <!--End single featured item-->
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
    <!--End pagewrapper-->
{% endblock content %}
