{% extends 'mainlayout.html' %}
{#{% load render_partial %}#}

{% load static %}

{% block title %}محصولات - جزئیات{% endblock title %}

{% block content %}
    <div class="page-wrapper body_wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!--Page Title-->
        <section class="page-title" style="background-image:url({% static 'images/background/bg-page-title-1.jpg' %});">
            <div class="auto-container">
                <h1>جزئیات محصول</h1>
                <div class="bread-crumb-outer">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">خانه</a></li>
                        <li><a href="product-groups.html">محصولات</a></li>
                        <li><a href="products.html">اسانس</a></li>
                        <li class="active">جزئیات محصول</li>
                    </ul>
                </div>
            </div>
        </section>

        <!--Sidebar Page-->
        <div class="sidebar-page-container with-left-sidebar gray-bg">
            <div class="auto-container">
                <div class="row clearfix">


                    <!--Content Side-->
                    <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">

                        <!--Shop Single-->
                        <div class="shop-single">
                            <div class="auto-container">

                                <!--Product Details Section-->
                                <section class="product-details">
                                    <!--Basic Details-->
                                    <div class="basic-details">
                                        <div class="row clearfix">
                                            <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                                <figure class="image-box">
                                                    <a href="images/resource/22.jpg" class="lightbox-image"><img
                                                            src="images/resource/22.jpg" alt=""></a>
                                                </figure>
                                            </div>
                                            <div class="info-column col-md-6 col-sm-6 col-xs-12">
                                                <div class="details-header">
                                                    <h3>اسانس رازیانه</h3>
                                                </div>
                                                <div class="text">
                                                    <ul class="detail-products">
                                                        <li>نام فارسی: <span>اسانس رازیانه</span></li>
                                                        <li>نام لاتین: <span>Fennel essential oil</span></li>
                                                        <li>فرمول شیمیایی: <span>C30H40O3</span></li>
                                                        <li>نوع بسته بندی: <span>کارتون</span></li>
                                                        <li>کشور سازنده: <span>اسپانیا</span></li>
                                                        <li>کاربرد: <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                                        </span></li>
                                                    </ul>
                                                    <div class="stock"><a href="#"><i class="fa fa-download"
                                                                                      style="margin-left: 5px;"
                                                                                      aria-hidden="true"></i>دانلود
                                                        آنالیز اسانس رازیانه</a></div>
                                                    <div class="other-options clearfix mt-30">
                                                        <button type="button"
                                                                class="theme-btn btn-style-one add-to-cart">تماس با مدیر
                                                            فروش
                                                        </button>
                                                        <button type="button" style="margin-right: 20px"
                                                                class="theme-btn btn-style-one add-to-cart">واتس آپ مدیر
                                                            فروش
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Basic Details-->

                                        <!--Product Info Tabs-->
                                        <div class="product-info-tabs">

                                            <!--Product Tabs-->
                                            <div class="prod-tabs" id="product-tabs">

                                                <!--Tab Btns-->
                                                <div class="tab-btns clearfix">
                                                    <a href="#prod-description" class="tab-btn active-btn">توضیحات</a>
                                                    <a href="#prod-reviews" class="tab-btn">نقد و بررسی ها</a>
                                                </div>

                                                <!--Tabs Container-->
                                                <div class="tabs-container">

                                                    <!--Tab / Active Tab-->
                                                    <div class="tab active-tab" id="prod-description">
                                                        <h3>توضیحات محصول</h3>
                                                        <div class="content">
                                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                                                و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                                                                روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                                                                شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با
                                                                هدف</p>
                                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                                                و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                                                                روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                                                                شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف
                                                                بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و
                                                                سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان
                                                                را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان
                                                                رایانه ای</p>
                                                        </div>
                                                    </div>

                                                    <!--Tab-->
                                                    <div class="tab" id="prod-reviews">
                                                        <h3>3 نقد و بررسی</h3>

                                                        <!--Reviews Container-->
                                                        <div class="reviews-container">

                                                            <!--Reviews-->
                                                            <article class="review-box clearfix">
                                                                <figure class="rev-thumb"><img
                                                                        src="images/shop/author-1.png" alt=""></figure>
                                                                <div class="rev-content">
                                                                    <div class="rating"><span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span> <span
                                                                                class="fa fa-star"></span> <span
                                                                                class="fa fa-star"></span> <span
                                                                                class="fa fa-star-o"></span></div>
                                                                    <div class="rev-info">تونی استارک - 3 شهریور 1398
                                                                    </div>
                                                                    <div class="rev-text">
                                                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                                            از صنعت چاپ و با استفاده از طراحان گرافیک
                                                                            است. چاپگرها و متون بلکه روزنامه و مجله</p>
                                                                    </div>
                                                                </div>
                                                            </article>

                                                            <article class="review-box clearfix">
                                                                <figure class="rev-thumb"><img
                                                                        src="images/shop/author-3.jpg" alt=""></figure>
                                                                <div class="rev-content">
                                                                    <div class="rating"><span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span> <span
                                                                                class="fa fa-star"></span> <span
                                                                                class="fa fa-star-o"></span> <span
                                                                                class="fa fa-star-o"></span></div>
                                                                    <div class="rev-info">استیو راجرز - 30 مرداد 1398
                                                                    </div>
                                                                    <div class="rev-text">
                                                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                                            از صنعت چاپ و با استفاده از طراحان گرافیک
                                                                            است. چاپگرها و متون بلکه روزنامه و مجله</p>
                                                                    </div>
                                                                </div>
                                                            </article>

                                                            <article class="review-box clearfix">
                                                                <figure class="rev-thumb"><img
                                                                        src="images/shop/author-4.jpg" alt=""></figure>
                                                                <div class="rev-content">
                                                                    <div class="rating"><span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span> <span
                                                                                class="fa fa-star"></span> <span
                                                                                class="fa fa-star"></span> <span
                                                                                class="fa fa-star"></span></div>
                                                                    <div class="rev-info">پیتر پارکر - 23 مرداد 1398
                                                                    </div>
                                                                    <div class="rev-text">
                                                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                                            از صنعت چاپ و با استفاده از طراحان گرافیک
                                                                            است. چاپگرها و متون بلکه روزنامه و مجله</p>
                                                                    </div>
                                                                </div>
                                                            </article>

                                                        </div>

                                                        <!--Add Review-->
                                                        <div class="comment-form">
                                                             <div class="group-title">
                                                                 <h2>دیدگاه خود را بیان کنید</h2>
                                                             </div>

                                                            <form method="post" action="shop-single.html">
                                                                <div class="row clearfix">
                                                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                                        <label>امتیاز دهید: </label>
                                                                        <div style="display: flex">
                                                                          <input type="radio" id="contactChoice1" name="contact" value="email" />
                                                                          <label style="padding-top: 7px" for="contactChoice1"><span
                                                                                    class="fa fa-star"></span></label>

                                                                          <input style="margin-right: 15px" type="radio" id="contactChoice2" name="contact" value="phone" />
                                                                          <label style="padding-top: 7px" for="contactChoice2"><span
                                                                                    class="fa fa-star"></span><span
                                                                                    class="fa fa-star"></span></label>

                                                                          <input style="margin-right: 10px" type="radio" id="contactChoice3" name="contact" value="mail" />
                                                                          <label style="padding-top: 7px" for="contactChoice3"><span
                                                                                    class="fa fa-star"></span><span
                                                                                    class="fa fa-star"></span><span
                                                                                    class="fa fa-star"></span></label>

                                                                          <input style="margin-right: 10px" type="radio" id="contactChoice4" name="contact" value="mail" />
                                                                          <label style="padding-top: 7px" for="contactChoice4"><span
                                                                                    class="fa fa-star"></span><span
                                                                                    class="fa fa-star"></span><span
                                                                                    class="fa fa-star"></span><span
                                                                                    class="fa fa-star"></span></label>

                                                                          <input style="margin-right: 10px" type="radio" id="contactChoice5" name="contact" value="mail" />
                                                                          <label style="padding-top: 7px" for="contactChoice5"><span
                                                                                    class="fa fa-star"></span><span
                                                                                    class="fa fa-star"></span><span
                                                                                    class="fa fa-star"></span><span
                                                                                    class="fa fa-star"></span><span
                                                                                    class="fa fa-star"></span></label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                                        <input type="text" name="username" placeholder="نام *" required>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                                        <input type="text" name="username" placeholder="نام خانوادگی *" required>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                                        <input type="email" name="email" placeholder="* ایمیل" required dir="ltr">
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                                        <input type="text" name="username" placeholder="تلفن تماس" dir="ltr">
                                                                    </div>

                                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                                                        <textarea name="message" placeholder="متن دیدگاه *" required></textarea>
                                                                    </div>

                                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                                                        <button class="theme-btn btn-style-one" type="submit" name="submit-form">
                                                                            ارسال دیدگاه
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <!--Content Side-->

                    <!--Sidebar-->
                    <div class="sidebar-side pull-right col-lg-3 col-md-4 col-sm-12 col-xs-12"
                         style="padding:25px 50px 0 0;">
                        <h3>راه های ارتباط با ما</h3>
                        <ul class="mt-20 contact-us">
                            <li>
                                <a href="tel:+985138676767">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span>051-38676767</span>
                                </a>
                            </li>
                            <li>
                                <a href="tel:+989033222110">
                                    <i class="fa fa-mobile" style="font-size: 24px;" aria-hidden="true"></i>
                                    <span>09033222110</span>
                                </a>
                            </li>
                            <li>
                                <a href="tel:+989033222110"><i class="fa fa-whatsapp" aria-hidden="true"></i>
                                    <span>09033222110</span>
                                </a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    info@sorenchem.com</li>
                            </a>
                        </ul>
                    </div>
                    <!--Sidebar-->
                </div>
            </div>
        </div>

    </div>
    <!--End pagewrapper-->
{% endblock content %}
