{% extends 'mainlayout.html' %}
{#{% load render_partial %}#}

{% load static %}

{% load jalali_tags %}

{% block title %}{{ product.farsi_name }}{% endblock title %}

{% block description %}name of product: {{ product.farsi_name }}، can be used in: {{ product.application }}{% endblock description %}

{% block keywords %}{% for keyword in product.tags.all %}{{ keyword }},{% endfor %}{% endblock keywords %}

{% block canonical %}https://en.sorenchem.com{{ request.path }}{% endblock canonical %}

{% block content %}
    <div class="page-wrapper body_wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!--Page Title-->
        <section class="page-title" style="background-image:url({% static 'images/background/1414.jpg' %});">
            <div class="auto-container">
                <h1>{{ product.title }}</h1>
                <div class="bread-crumb-outer">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'index_view' %}">Home</a></li>
                        <li><a href="{% url 'product-group' %}">Products</a></li>
                        <li><a href="{% url 'products' id=cat_id page=1 url=cat_url%}">{{ cat_name }}</a></li>
                        <li class="active">{{ product.title }}</li>
                    </ul>
                </div>
            </div>
        </section>

        <!--Sidebar Page-->
        <div class="sidebar-page-container with-left-sidebar gray-bg">
            <div class="auto-container">
                <div class="row clearfix">


                    <!--Content Side-->
                    <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">

                        <!--Shop Single-->
                        <div class="shop-single">
                            <div class="auto-container">

                                <!--Product Details Section-->
                                <section class="product-details">
                                    <!--Basic Details-->
                                    <div class="basic-details">
                                        <div class="row clearfix">
                                            <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                                <figure class="image-box">
                                                    <a href="{{ product.image_1.url }}" class="lightbox-image"><img
                                                            src="{{ product.image_1.url }}" alt=""></a>
                                                </figure>
                                            </div>
                                            <div class="info-column col-md-6 col-sm-6 col-xs-12">
                                                <div class="details-header">
                                                    <h3>{{ product.title }}</h3>
                                                </div>
                                                <div class="text">
                                                    <ul class="detail-products">
                                                        <li>Title: <span>{{ product.farsi_name }}</span></li>
                                                        <li>Latin name: <span>{{ product.english_name }}</span></li>
                                                        <li>Chemical Formula: <span>{{ product.formula }}</span></li>
                                                        <li>Package type: <span>{{ product.package_type }}</span></li>
                                                        <li>Manufacturer country: <span>{{ product.made_by }}</span></li>
                                                        <li>Usage: <span> {{ product.application }}
                                                        </span></li>
                                                    </ul>
                                                    <div class="stock"><a href="{{ product.file.url }}" download><i
                                                            class="fa fa-download"
                                                            style="margin-left: 5px;"
                                                            aria-hidden="true"></i>Download Analysis
                                                         {{ product.title }}</a></div>
                                                    <div class="other-options clearfix mt-30">
                                                        <a type="button" value="{{ sidebar.mobile }}" href="tel:{{ sidebar.mobile }}"
                                                                class="theme-btn btn-style-one add-to-cart">Call Sales Manager

                                                        </a>
                                                        <a type="button" style="margin-right: 20px" href="{{ sidebar.whatsapp }}"
                                                                class="theme-btn btn-style-one add-to-cart"> Sales Manager Whatsapp

                                                        </a>
                                                    </div>
                                                    {#                                                    <div class="other-options clearfix mt-30">#}
                                                    {#                                                        <button type="button" value="{{ sidebar.telephone_1 }}"#}
                                                    {#                                                                class="theme-btn btn-style-one add-to-cart">Contact Sales Manager#}
                                                    {#                                                        </button>#}
                                                    {#                                                        <button type="button" style="margin-right: 20px"#}
                                                    {#                                                                class="theme-btn btn-style-one add-to-cart">WhatsApp Sales Manager#}
                                                    {#                                                        </button>#}
                                                    {#                                                    </div>#}
                                                </div>
                                            </div>
                                        </div>
                                        <!--Basic Details-->

                                        <!--Product Info Tabs-->
                                        <div class="product-info-tabs">

                                            <!--Product Tabs-->
                                            <div class="prod-tabs" id="product-tabs">

                                                <!--Tab Btns-->
                                                <div class="tab-btns clearfix">
                                                    <a href="#prod-description" class="tab-btn active-btn">Description</a>
                                                    <a href="#prod-reviews" class="tab-btn">Reviews</a>
                                                </div>

                                                <!--Tabs Container-->
                                                <div class="tabs-container">

                                                    <!--Tab / Active Tab-->
                                                    <div class="tab active-tab" id="prod-description">
                                                        <h3>Product Description</h3>
                                                        <div class="content">
                                                            {{ product.description | safe }}
                                                        </div>
                                                    </div>

                                                    <!--Tab-->
                                                    <div class="tab" id="prod-reviews">
                                                        <h3>{{ num_chats }} Review</h3>

                                                        <!--Reviews Container-->
                                                        <div class="reviews-container">
                                                            {% for chat in chats %}
                                                                <!--Reviews-->
                                                                <article class="review-box clearfix">
                                                                    <figure class="rev-thumb"><img
                                                                            src="{% static 'images/images.png' %}"
                                                                            alt=""></figure>
                                                                    <div class="rev-content">
                                                                        <div class="rating"><i data-star="{{ chat.score }}"></i></div>
                                                                        <div class="rev-info">{{ chat.username }}
                                                                            - {{ chat.created | to_jalali:'%y/%m/%d _ %H:%M' }}
                                                                        </div>
                                                                        <div class="rev-text">
                                                                            {{ chat.text | safe }}
                                                                        </div>
                                                                    </div>
                                                                </article>
                                                            {% endfor %}

                                                        </div>

                                                        <!--Add Review-->
                                                        <div class="comment-form">
                                                            <div class="group-title">
                                                                <h2>Express your point of view</h2>
                                                            </div>

                                                            <form method="post" action="">
                                                                {% csrf_token %}
                                                                <div class="row clearfix">
                                                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                                        <label>Rate: </label>
                                                                        <div style="display: flex">
                                                                            <div class="rate">
                                                                                <input type="radio" id="contactChoice5"
                                                                                       name="rank" value="5"/>
                                                                                <label for="contactChoice5"
                                                                                       title="5 Score">5 stars</label>
                                                                                <input type="radio" id="contactChoice4"
                                                                                       name="rank" value="4"/>
                                                                                <label for="contactChoice4"
                                                                                       title="4 Score">4 stars</label>
                                                                                <input type="radio" id="contactChoice3"
                                                                                       name="rank" value="3"/>
                                                                                <label for="contactChoice3"
                                                                                       title="3 Score">3 stars</label>
                                                                                <input type="radio" id="contactChoice2"
                                                                                       name="rank" value="2"/>
                                                                                <label for="contactChoice2"
                                                                                       title="2 Score">2 stars</label>
                                                                                <input type="radio" id="contactChoice1"
                                                                                       name="rank" value="1"/>
                                                                                <label for="contactChoice1"
                                                                                       title="1 Score">1 star</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                                        <input type="text" name="firstname"
                                                                               placeholder="First Name *" required>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                                        <input type="text" name="lastname"
                                                                               placeholder="Last Name *" required>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                                        <input type="email" name="email"
                                                                               placeholder="Email *" required dir="ltr">
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                                        <input type="text" name="phone"
                                                                               placeholder="Phone" dir="ltr">
                                                                    </div>

                                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                                                        <textarea name="message"
                                                                                  placeholder="Comment text *"
                                                                                  required></textarea>
                                                                    </div>

                                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                                                        <button class="theme-btn btn-style-one"
                                                                                type="submit" name="submit-form">
                                                                            Submit
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <!--Content Side-->

                    <!--Sidebar-->
                    <div class="sidebar-side pull-right col-lg-3 col-md-4 col-sm-12 col-xs-12"
                         style="padding:25px 50px 0 0;">
                        <h3>Ways to contact us</h3>
                        <ul class="mt-20 contact-us">
                            <li>
                                <a href="tel:{{ sidebar.telephone_1 }}">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span>{{ sidebar.telephone_1 }}</span>
                                </a>
                            </li>
                            <li>
                                <a href="tel:{{ sidebar.mobile }}">
                                    <i class="fa fa-mobile" style="font-size: 24px;" aria-hidden="true"></i>
                                    <span>{{ sidebar.mobile }}</span>
                                </a>
                            </li>
                            <li>
                                <a href="tel:{{ sidebar.whatsapp_number }}"><i class="fa fa-whatsapp"
                                                                               aria-hidden="true"></i>
                                    <span>{{ sidebar.whatsapp_number }}</span>
                                </a>
                            </li>
                            <li>
                                <a><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    {{ sidebar.email }}</a>
                            </li>
                        </ul>
                    </div>
                    <!--Sidebar-->
                </div>
            </div>
        </div>

    </div>
    <!--End pagewrapper-->
{% endblock content %}
