{% extends 'mainlayout.html' %}
{#{% load render_partial %}#}

{% load static %}

{% block title %}محصولات{% endblock title %}

{% block content %}
    <div class="page-wrapper body_wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!--Page Title-->
        <section class="page-title" style="background-image:url({% static 'images/background/1414.jpg' %});">
            <div class="auto-container">
                <h1>{{ group_data.name }}</h1>
                <div class="bread-crumb-outer">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'index_view' %}">خانه</a></li>
                        <li>
                            <a href="{% url 'product-group' %}">محصولات</a>
                        </li>
                        <li class="active">{{ group_data.name }}</li>
                    </ul>
                </div>
            </div>
        </section>

        <!--Sidebar Page-->
		<div class="sidebar-page-container right-side-bar">
			<div class="auto-container">


				<div class="product-description">
                    {{ group_data.description | safe }}
				</div>

				<div class="row clearfix">

					<!--Content Side-->
					<div class="content-side col-lg-12 col-md-12 col-sm-8 col-xs-12">

						<!--News Section-->
						<section class="products-section">
							<div class="row clearfix equal-height">
                                {% for page in pages %}
								    <div class="default-shop-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
									<!--inner-box-->
									<div class="inner-box">
										<!--image-box-->
										<figure class="image-box">
											<a href="{% url 'product-detail' id=page.id url=page.url%}"><img src="{{ page.image_2.url }}" alt="{{ page.title }}"></a>
											<div class="overlay-box">
												<a class="cart-btn" href="{% url 'product-detail' id=page.id url=page.url%}">جزییات بیشتر</a>
											</div>
										</figure>

										<!--lower-content-->
										<div class="lower-content">
											<h3><a href="{% url 'product-detail' id=page.id url=page.url%}">{{ page.title }}</a></h3>

											<div class="rating">
                                                {% for key, value in scores.items %}
                                                    {% if key == page.id %}
                                                        <i data-star="{{ value }}"></i>
                                                    {% endif %}
                                                {% endfor %}
											</div>
										</div>

									</div>
								</div>
                                {% endfor %}
							</div>

							<!--Styled Pagination-->
							<div class="styled-pagination">
								<ul class="clearfix">
									<li><a href="{% url 'products' id=group_id page=previous_page url=group_data.url%}"><span class="fa fa-angle-right"></span></a></li>

                                    {% for num_page in page_number %}
                                        {% if forloop.counter == active_page %}
                                            <li><a href="{% url 'products' id=group_id page=forloop.counter url=group_data.url%}" class="active">{{ forloop.counter }}</a></li>
                                        {% endif %}
                                        {% if forloop.counter != active_page %}
                                            <li><a href="{% url 'products' id=group_id page=forloop.counter url=group_data.url%}">{{ forloop.counter }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    <li><a href="{% url 'products' id=group_id page=next_page url=group_data.url%}"><span class="fa fa-angle-left"></span></a></li>
								</ul>
							</div>

						</section>


					</div>
					<!--Content Side-->
				</div>
			</div>
		</div>

    </div>
    <!--End pagewrapper-->
{% endblock content %}
