 {% load static %}
<form method="post" action="" id="contact-form">
    {% csrf_token %}
    <div class="row clearfix frmDiv">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <input type="text" name="name" value="" placeholder="نام *" required>
            </div>

            <div class="form-group">
                <input type="email" name="email" value="" placeholder="* ایمیل" required dir="ltr">
            </div>

            <div class="form-group">
                <input type="text" name="subject" value="" placeholder="موضوع">
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <textarea name="message" placeholder="متن پیام *" required></textarea>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <button type="submit" class="theme-btn btn-style-one">ارسال پیام</button>
        </div>


    </div>
    <div class="p-3 mt-3 text-center success-message message hidden"
         style="margin-bottom: 50px; border-right:2px solid #5da73d;padding: 10px;border-radius: 10px;background-color: #f7f7f7; color: #549d34;">
        <p class="h4">با تشکر از شما پیام شما با موفقیت ثبت شد.</p>
    </div>
</form>

{% block javascript %}
<script>
    $(document).ready(function () {
        // catch the form's submit event
        $('#contact-form').submit(function () {
            // create an AJAX call
            $.ajax({
                data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: "{% url 'recordcontactus_view' %}",
                // on success
                success: function (response) {
                    $(".frmDiv").addClass("hidden");
                    $(".message").removeClass("hidden")
                },
                // on error
                error: function (response) {
                    // alert the error if any error occured
                    alert(response.responseJSON.errors);
                    console.log(response.responseJSON.errors)
                }
            });
            return false;
        });
    })
</script>
{% endblock javascript %}
