<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>سورن شیمی Soren Chem</title>
    <!-- Stylesheets -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/revolution-slider.css" rel="stylesheet">
    <link href="css/slider-setting.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

    <meta name="theme-color" content="#5da73d">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16">
</head>

<body class="home">

    <div class="page-wrapper body_wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

  <!-- Main Header / Header Style One-->
  <header class="main-header header-style-three">
    <!-- Header Top One-->
    <div class="header-upper">
        <div class="auto-container">
            <div class="clearfix">

                <div class="pull-right logo-outer">
                    <!--Logo Box-->
                    <div class="logo-box">
                        <div class="logo">
                            <a href="index.html" title="Factories">
                                <h1 class="logo-text">سورن شیمی</h1>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="pull-left upper-right clearfix">
                     <div class="upper-display">  
                    <!--Info Box-->
                    <div class="upper-column info-box">
                        <div class="icon-box">
                            <a href="tel:05138676767">
                              <span class="flaticon-telephone-1"></span>
                            </a>
                        </div>
                        <ul>
                            <li><strong>تلفن ما</strong></li>
                            <li>
                                <a href="tel:05138676767">
                                 051-38676767
                                </a></li>
                        </ul>
                    </div>

                    <div class="upper-column info-box">
                        <a href="#" style="margin-left:10px;"><img src="images/flag/uk.png" /></a>
                        <a href="#" style="margin-left:10px;"><img src="images/flag/kw.png" /></a>
                    </div>
                </div> 
                </div>

            </div>
        </div>
    </div>


    <!-- Header Lower -->
    <div class="header-lower">
        <div class="main-box">
            <div class="auto-container">
                <div class="outer-container clearfix">
                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="index.html">خانه</a></li>
                                    <li><a href="about-us.html">درباره ما</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">محصولات</a>
                                        <ul>
                                            <li><a href="product-groups.html">مشاهده همه محصولات</a></li>
                                            <li><a href="products.html">اسانس</a></li>
                                            <li><a href="#">صنایع غذایی</a></li>
                                            <li>
                                                <a href="#">صنایع آرایشی و بهداشتی</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="blog.html">بلاگ</a>
                                    </li>
                                    <li class="dropdown"><a href="#">گالری</a>
                                        <ul>
                                            <li><a href="gallery.html">گالری عکس</a></li>
                                            <li><a href="gallery-video.html">گالری ویدئو</a></li>
                                        </ul>
                                    </li>
                                    <li class="current"><a href="sample-request.html">درخواست نمونه</a></li>
                                    <li><a href="contact.html">تماس</a></li>

                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->

                        <!--Search Box-->
                        <div class="outer-box2">
                            <!--Search form-->
                            <div class="search-form">
                                <form method="post" action="contact.html">
                                    <div class="form-group">
                                        <input type="text" name="search" value="" placeholder="جستجو ..."
                                            required="">
                                        <button type="submit" class="theme-btn"><span
                                                class="icon fa fa-search"></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <!--Nav Outer End-->

                </div>
            </div>
        </div>
    </div>

    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-right">
                <a href="index.html" title="Factories">
                    <h2 class="logo-text">سورن شیمی</h2>
                </a>
            </div>

            <!--Right Col-->
            <div class="right-col pull-left">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li><a href="index.html">خانه</a></li>
                            <li><a href="about-us.html">درباره ما</a>
                            </li>
                            <li class="dropdown">
                                <a href="#">محصولات</a>
                                <ul>
                                    <li><a href="product-groups.html">مشاهده همه محصولات</a></li>
                                    <li><a href="products.html">اسانس</a></li>
                                    <li><a href="#">صنایع غذایی</a></li>
                                    <li>
                                        <a href="#">صنایع آرایشی و بهداشتی</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="blog.html">بلاگ</a>
                            </li>
                            <li class="dropdown"><a href="#">گالری</a>
                                <ul>
                                    <li><a href="gallery.html">گالری عکس</a></li>
                                    <li><a href="gallery-video.html">گالری ویدئو</a></li>
                                </ul>
                            </li>
                            <li class="current"><a href="sample-request.html">درخواست نمونه</a></li>
                            <li><a href="contact.html">تماس</a></li>

                        </ul>
                    </div>
                </nav>
                <!-- Main Menu End-->
            </div>

        </div>
    </div>
    <!--End Sticky Header-->
</header>
<!--End Main Header -->



        <!--Page Title-->
        <section class="page-title" style="background-image:url(images/background/bg-page-title-1.jpg);">
            <div class="auto-container">
                <h1>درخواست نمونه</h1>
                <div class="bread-crumb-outer">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">خانه</a></li>
                        <li class="active">درخواست نمونه</li>
                    </ul>
                </div>
            </div>
        </section>


        <!--Checkout Page-->
        <div class="checkout-page cart-section">
            <div class="auto-container">
            
                    <div style="margin-bottom: 50px; border-right:2px solid #5da73d;padding: 10px;border-radius: 10px;background-color: #f7f7f7;">
                        شرکت سورن شیمی جهت سهولت مشتریان و متقاضیان گرامی بخشی را اختصاص به نمونه های درخواستی شما نیز داده است. کافیست که نام محصول و مقدار نمونه درخواستی خود را نیز برای ما ارسال کنید تا نمونه را برای شما ارسال نماییم. شما میتوانید اگر برند یا آنالیز خاصی را مد نظر دارید از طریق فرم زیر اقدام به ارسال آنالیز درخواستی نمایید. سورن شیمی این امکان را به مشتریان داده تا بتوانند قبل از خرید مواد اولیه شیمیایی ابتدا آن ها را تست کرده و آزمایش کنند سپس خریداری کنند. با این کار مشتریان رضایت بیشتری داشته و محصولات بهتری را تولید میکنند.


                    </div>
             
                <!--Billing Details-->
                <div class="billing-details">
                    <div class="shop-form">
                        <form method="post" action="checkout.html">
                            <div class="row clearfix">
                                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">

                                    <div class="default-title">
                                        <h2>درخواست نمونه</h2>
                                    </div>

                                    <div class="row clearfix">

                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <div class="field-label">نام و نام خانوادگی <sup>*</sup></div>
                                            <input type="text" name="field-name" value="" placeholder="">
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                            <div class="field-label">نام شرکت </div>
                                            <input type="text" name="field-name" value="" placeholder="">
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <div class="field-label">ایمیل <sup>*</sup></div>
                                            <input type="email" name="field-name" value="" placeholder="">
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <div class="field-label">تلفن <sup>*</sup></div>
                                            <input type="text" name="field-name" value="" placeholder="">
                                        </div>


                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="field-label">نمونه های درخواستی </div>
                                            <textarea placeholder="نمونه های درخواستی"></textarea>
                                        </div>
                                        <div class="form-group text-left col-md-12 col-sm-12 col-xs-12">
                                            <button type="button" class="theme-btn btn-style-one">ارسال درخواست</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 additional-info">
                                    <img src="images/resource/formImage.png" alt="" />
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
                <!--End Billing Details-->

            </div>
        </div>

        <footer class="main-footer">
            <!--Footer Upper-->
            <div class="footer-upper">
                <div class="auto-container">
                    <div class="row clearfix">

                        <!--Two 4th column-->
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-sm-6 col-xs-12 column">
                                    <div class="footer-widget about-widget">
                                        <h3>راه های ارتباط با ما</h3>
                                        <div class="text margin-bott-30">
                                            <ul>
                                                <li><i class="fa fa-map-marker"></i> آدرس : مشهد، بلوار وکیل آباد، بین
                                                    وکیل آباد 35و37، پلاک 847 طبقه اول</li>
                                                <li><i class="fa fa-phone" aria-hidden="true"></i> تلفن :
                                                    <span>38676767-051</span>
                                                </li>
                                                <li><i class="fa fa-phone" aria-hidden="true"></i> تلفن :
                                                    <span>38693859-051</span>
                                                </li>
                                                <li><i class="fa fa-phone" aria-hidden="true"></i> تلفن :
                                                    <span>38915692-051</span>
                                                </li>
                                                <li><i class="fa fa-mobile" aria-hidden="true"></i> موبایل :
                                                    <span>09033222110</span>
                                                </li>
                                                <li><i class="fa fa-whatsapp" aria-hidden="true"></i> واتس اپ :
                                                    <span>09033222110</span>
                                                </li>
                                                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> ایمیل :
                                                    info@sorenchem.com</li>
                                            </ul>
                                        </div>

                                        <div class="social-links">
                                            <a href="#"><span class="fa fa-whatsapp"></span></a>
                                            <a href="#"><span class="fa fa-telegram"></span></a>
                                            <a href="#"><span class="fa fa-instagram"></span></a>
                                        </div>

                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="col-lg-6 col-sm-6 col-xs-12 column">
                                    <div class="footer-widget links-widget">
                                        <h3>خدمات</h3>
                                        <div class="row clearfix">

                                            <div class="col-lg-6 col-sm-6 col-xs-6">
                                                <ul>
                                                    <li><i class="fa fa-angle-left"></i><a href="#">خرید اسانس</a></li>
                                                    <li><i class="fa fa-angle-left"></i><a href="#">خرید مواد اولیه</a>
                                                    </li>
                                                    <li><i class="fa fa-angle-left"></i><a href="/faq.html">سوالات
                                                            متداول</a></li>
                                                    <li><i class="fa fa-angle-left"></i>
                                                        <a href="#">قوانین و مقررات</a>
                                                    </li>
                                                    <li><i class="fa fa-angle-left"></i><a href="#">فرم ثبت شکایت</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--Two 4th column End-->

                        <!--Two 4th column-->
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">

                                <!--Footer Column-->
                                <div class="col-lg-6 col-sm-6 col-xs-12 column">
                                    <div class="footer-widget popular-posts">
                                        <h3>آخرین مقالات</h3>
                                        <article class="post">
                                            <figure class="post-thumb">
                                                <a href="blog-single.html"><img src="images/resource/post-thumb-1.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="text"><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی
                                                    نامفهوم</a></div>
                                            <ul class="post-meta clearfix">
                                                <li><a href="#"><i class="fa fa-calendar"></i>30 مرداد 1398 </a></li>
                                            </ul>
                                        </article>
                                        <article class="post">
                                            <figure class="post-thumb">
                                                <a href="blog-single.html"><img src="images/resource/post-thumb-2.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="text"><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی</a>
                                            </div>
                                            <ul class="post-meta clearfix">
                                                <li><a href="#"><i class="fa fa-calendar"></i>18 مرداد 1398 </a></li>
                                            </ul>
                                        </article>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="col-lg-6 col-sm-6 col-xs-12 column">
                                    <div class="footer-widget newsletter-widget">
                                        <h3>اشتراک خبرنامه</h3>

                                        <div class="newsletter-form">
                                            <div class="text padd-bott-20">
                                                <p>برای دریافت جدیدترین اخبار و به روز رسانی ها در لیست ایمیل ما مشترک
                                                    شوید.</p>
                                            </div>
                                            <form method="post" action="index.html">
                                                <div class="form-group">
                                                    <input type="email" name="useremail" value=""
                                                        placeholder="آدرس ایمیل" required="">
                                                    <button type="submit" class="theme-btn btn-submit"><span
                                                            class="fa fa-envelope-o"></span></button>
                                                </div>
                                                <div class="confid"><em>ما به شما اسپم نخواهیم فرستاد <br>و آدرس ایمیل
                                                        شما منتشر نخواهد شد.</em></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Two 4th column End-->

                    </div>

                </div>
            </div>

            <!--Footer Bottom-->
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="copyright-text">تمام حقوق این سایت برای <a href="https://sorenchem.com/"
                                    target="_blank">سورن شیمی</a> محفوظ است </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>

    </div>
    <!--End pagewrapper-->

    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>


    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/revolution.min.js"></script>
    <script src="js/jquery.fancybox.pack.js"></script>
    <script src="js/jquery.fancybox-media.js"></script>
    <script src="js/owl.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/appear.js"></script>
    <script src="js/nouislider.js"></script>
    <script src="js/jquery.bootstrap-touchspin.js"></script>
    <script src="js/script.js"></script>

    <!--[if lt IE 10]>
	<script src="js/jquery.placeholder.min.js" type="text/javascript"></script>
	<script type="text/javascript">$('input, textarea').placeholder();</script>
	<![endif]-->
</body>

</html>